<%= form_for(author) do |f| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :name %>
    <%= f.label :年齢 %>
    <%= f.text_field :age %>
  </div>

  <!-- <div class="field">
    <%= f.label :books, "著書" %><br />
    <%= f.fields_for :books do |books_form| %>
      <%= books_form.label :title, "タイトル" %>
      <%= books_form.text_field :title %><br />
      <%= books_form.label :is_lended, "レンタル中" %>
      <%= books_form.text_field :is_lended %><br />
    <% end %>
  </div> -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
