<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :作者 %>
    <%= f.collection_select :author_id, Author.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :レンタル中 %>
    <%= f.check_box 'is_lended', {}, true, false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
