<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1 id="h1"><%= title %></h1>
  </header>
  <input id="filterInput" placeholder="キーワード入力"/>
  <button type="button" id="do_filter" onClick="filterOnInput()">絞込</button>
  <table id="authorstable" border='1'>
    <tr id="header">
      <td>id</td><td>名称</td><td>年齢</td><td> </td><td> </td><td> </td>
    </tr>
    <% authors.forEach(function(author) { %>
      <tr>
        <td class="intvalue" width="5%"><%= author.id %></td>
        <td width="85%"><%= author.name %></td>
        <td class="intvalue" width="10%"><%= author.age %></td>
        <td>
          <form action="./authoredit" method="post">
            <input type="submit" value="編集">
            <input id="authorid" type="hidden" name="id" value="<%= author.id %>">
          </form>
        </td>
        <td>
          <form action="./authordelete" method="post">
            <input type="submit" value="削除">
            <input id="authorid" type="hidden" name="id" value="<%= author.id %>">
          </form>
        </td>
        <td>
          <form action="./bookindex" method="post">
            <input type="submit" value="作品一覧">
            <input id="authorid" type="hidden" name="id" value="<%= author.id %>">
          </form>
        </td>
      </tr>
    <% }); %>
  </table>
  <div>
    <input type="button" onclick="location.href='http://localhost:3939'" value="トップへ">
  </div>
</body>

</html>

<script type="text/javascript">

  function filterOnInput(){
    var str = filterInput.value;
    var rows = document.getElementById('authorstable').rows;
    for(var i=1; i<rows.length; i++){
      var row = rows[i];
      if(!str || !str.length){
        row.style.display = 'block';
      }else{
        var innerText = row.innerText;
        if(innerText && innerText.indexOf(str) > -1){
          row.style.display = 'block';
        }else{
          row.style.display = 'none';
        }
      }
    }
  }

</script>
