<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1 id="h1"><%= title %></h1>
  </header>
  <input id="filterInput" placeholder="キーワード入力"/>
  <button type="button" id="do_filter" onClick="filterOnInput()">絞込</button>
  <table id="bookstable" border='1'>
    <tr id="header">
      <td>id</td><td>タイトル</td><td> </td><td> </td>
    </tr>
    <% books.forEach(function(book) { %>
      <tr id=<%= book.title %>>
        <td class="intvalue" width="5%"><%= book.id %></td>
        <td width="95%"><%= book.title %></td>
        <td>
          <form action="./bookedit" method="post">
            <input type="submit" value="編集">
            <input id="bookid" type="hidden" name="id" value="<%= book.id %>">
          </form>
        </td>
        <td>
          <form action="./bookdelete" method="post">
            <input type="submit" value="削除">
            <input id="bookid" type="hidden" name="id" value="<%= book.id %>">
          </form>
        </td>
      </tr>
    <% }); %>
  </table>
  <div>
    <input type="button" onclick="location.href='http://localhost:3939'" value="トップへ">
  </div>
</body>

</html>

<script type="text/javascript">

  function filterOnInput(){
    var str = filterInput.value;
    var rows = document.getElementById('bookstable').rows;
    for(var i=1; i<rows.length; i++){
      var row = rows[i];
      if(!str || !str.length){
        row.style.display = 'block';
      }else{
        var innerText = row.innerText;
        if(innerText && innerText.indexOf(str) > -1){
          row.style.display = 'block';
        }else{
          row.style.display = 'none';
        }
      }
    }
  }

</script>
